<!DOCTYPE html>
<html>
<meta charset = "UTF-8">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hi there!</h1>
    <h2>Inventory</h2>
    <div class="datecontainer">
        <h3>10/10/2005</h3>
        <p>Next month in 2 mins 5 seconds</p>
    </div>
    <div class="panelcontainer">
        <image src="{{ url_for('static', filename='piechart.png') }}"></image>
        <div class="playercontainer">
            <h3>Current Account</h3>
            <p>Cash: £999</p>
        </div>
        <div class="playercontainer">
            <h3>Savings Account</h3>
            <p>Cash: £9999</p>
        </div>
        <div class="playercontainer">
            <h3>Apple Shares</h3>
            <p>Amount: 2
                <br>Total Value: £200 (£100 each)
            </p>
            <div class="buttonrow" >
                <button onclick="onBuyShare('apple')">Buy</button>
                <button onclick="onSellShare('apple')">Sell</button>
            </div>
            <p>Placeholder for image</p>
        </div>

    </div>
    <h2>Stock Market</h2>
    <div class="panelcontainer">
        <div class="playercontainer">
            <h3>Apple Shares</h3>
            <p>Amount: 2
                <br>Total Value: £200 (£100 each)
            </p>
            <div class="buttonrow" >
                <button>Buy</button>
                <button>Sell</button>
            </div>
            <p>Placeholder for image</p>
        </div>
        <div class="playercontainer">
            <h3>Apple Shares</h3>
            <p>Amount: 2
                <br>Total Value: £200 (£100 each)
            </p>
            <div class="buttonrow" >
                <button>Buy</button>
                <button>Sell</button>
            </div>
            <p>Placeholder for image</p>
        </div>
    </div>
    <h2>News Articles</h2>
    <div class="panelcontainer">
        <div class="playercontainer">
            <h3>Boris Johnson dies</h3>
            <p>GBP value rises, celebrations ensue.</p>
            <div class="buttonrow" >
                <button>View More</button>
            </div>
            <p>Placeholder for image</p>
        </div>
        <!-- Maybe use an iframe??? TBD-->
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>